<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url"><![CDATA[jdbc:postgresql://ec2-54-75-239-237.eu-west-1.compute.amazonaws.com:5432/d86n3p8h6i057d?sslmode=require]]></property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <mapping class="com.thebestdevelopers.find_my_beer.model.RoleEntityF"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.UserEntityF"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.AddressesEntity"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.ClientEntity"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.ConvenienceTypesEntity"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.ConveniencesEntity"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.FavouritiesEntity"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.MenuEntity"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.PhotosEntity"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.ProductsEntity"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.PubEntity"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.TableDetailsEntity"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.TablesEntity"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.RoleEntity"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.UserEntity"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.RatingsEntity"/>
    <mapping class="com.thebestdevelopers.find_my_beer.model.PersistentLoginsEntity"/>

      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>

</hibernate-configuration>